body {
  background-color: #2e3440;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Noto Sans Mono', monospace;
}

p, h1, h2, h3 {
  color: #eceff4;
}

/*--- Root menu page ---*/
.menu {
  display: flex;
  width: 80%;
  height: calc(100vh - 60px); /* full screen minus title */
}

.option {
  flex: 1; /* each half is 50% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.option:hover {
  background: #4c566a;
}

.preview {
  width: 90%;
  margin-top: 15px;
  background: #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
}

.preview img {
  width: 100%;
  height: auto;
}

.preview h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.left {
  border-right: 2px solid #ccc;
}

/*--- Code page ---*/

#double-columns {
  color: #eceff4;
  width: 60%;
  border-spacing: 40px 0px;
}

#col1 {
  width: 75%;
}

#col2 {
  width: 25%;
}

#code {
  width: 100%;
  height: 300px;
  padding: 10px; /*internal margin*/
  font-size: 16px;
  color: #eceff4;
  border: 2px solid #eceff4;
  border-radius: 8px;
  resize: vertical;
  background-color: #4c566a;
}

code {
  background-color: #797593;
}

#info, ul {
  width: 100%;
  height: 300px;
  padding: 10px; /*internal margin*/
  font-size: 16px;
  color: #eceff4;
  text-align: left;
}

.command-list {
  background-color: #2e3440;
  color: #eceff4;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
}

/*--- General ---*/

h1 {
  font-size: 1.7rem;
}

#grid-size {
  color: #eceff4;
}

#column-form, #button-form {
  margin-left: 30px;
}

#button-grid {
  padding: 0px; /* Adds space inside the table's border */
  border-spacing: 0px; /* Adds spacing between table cells */
}

.image-responsive {
  width: 90px; /* Image width is 90px */
  height: auto; /* keeps proportions */
}

td {
  text-align: center; /* center horizontally */
  vertical-align: middle; /* center vertically */

}

#robot-grid {
  border: 1px solid #4c566a; /* Adds a black border around the table */
  margin: 5px; /* Adds space outside the table */
  background-color: #3b4252; /* Sets the table's background color */
  padding: 5px; /* Adds space inside the table's border */
  border-spacing: 5px; /* Adds spacing between table cells */
}

#robot-grid td.grid-cell {
  border: 1px solid #254e65;
  width: 100px;
  height: 100px;
  background-color: #81a1c1;
  transition: background-color 0.2s ease, border 0.2s ease, transform 0.2s ease;
}

/* Hover on cells */
#robot-grid td.grid-cell:hover {
  transform: scale(1.1);
  background-color: #88c0d0;
}

/* Columns' headers */
#robot-grid .header {
  background-color: #2e3440;
  color: #eceff4;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  height: 20px;
}

/* Lines' headers */
#robot-grid .header-column {
  background-color: #2e3440;
  color: #eceff4;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

/* Corner */
#robot-grid .corner {
  background-color: #3b4252;
  border: none;
  width: 20px;
  height: 20px;
}

button:hover {
  background-color: #e7b97a; /* Changes the background color on hover */
  border: 2px solid #d28c30; /* Changes the border color on hover */
  color: #d9d6ec; /* Changes the text color on hover */
  transform: scale(1.1); /* Slightly enlarges the button on hover */
}

button {
  width: 100px;
  padding: 8px; /* Adds space inside the button */
  margin: 2px; /* Adds space outside the button */
  border: 2px outset #a45f75; /* Adds a solid border around the button */
  border-radius: 8px; /* Rounds the button's corners */
  background-color: #d6a8a6; /* Sets the button's background color */
  color: #6c667f; /* Sets the button's text color */
  font-size: 14px; /* Sets the size of the button's text */
  font-weight: bold; /* Makes the button's text bold */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow to the button */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: background-color 0.2s ease, border 0.2s ease, transform 0.2s ease; /* Adds smooth transitions for hover effects */
}
