<!DOCTYPE html>
<html lang="en">
<head>
    <title>Just a rustbot 🦀</title>
    <link rel="icon" href="/static/favicon-16x16.png">
    <link rel="stylesheet" href="/static/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Welcome to my robot page!</h1>
  <div class="menu">
    <div class="option left" onclick="location.href='/play'">
      <h2>Play Mode</h2>
      <div class="preview"><img src="/static/play_preview.jpg" alt="Play mode preview"></div>
    </div>
    <div class="option right" onclick="location.href='/code'">
      <h2>Code Mode</h2>
      <div class="preview"><img src="/static/code_preview.jpg" alt="Play mode preview"></div>
    </div>
  </div>
</body>
</html>
