<!DOCTYPE html>
<html>
<head>
    <title>Just a rustbot 🦀</title>
    <link rel="icon" href="/static/favicon-16x16.png">
    <link rel="stylesheet" href="/static/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to my robot page!</h1>
    <p id="coords">Current coordinates: ({{ rustbot_i }}, {{ rustbot_j }})</p>
    <table id="button-grid">
        <tbody>
            <tr>
                <td></td>
                <td><form action="/up" method="post">
                        <button type="submit" id="up">UP</button>
                    </form>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><form action="/left" method="post">
                        <button type="submit" id="left">LEFT</button>
                    </form>
                </td>
                <td><form action="/reset" method="post">
                        <button type="submit" id="reset">RESET</button>
                    </form>
                </td>
                <td>
                    <form action="/right" method="post">
                        <button type="submit" id="right">RIGHT</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form action="/down" method="post">
                        <button type="submit" id="down">DOWN</button>
                    </form>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table id="robot-grid">
        <tbody>
        {%- for x in 0..grid_max_i %}
            <tr>
            {%- for y in 0..grid_max_j %}
                {%- if x == rustbot_i && y == rustbot_j %}
                <td><img src='/static/robot.png' alt='Robot' class='image-responsive'></td>
                {%- else %}
                <td></td>
                {%- endif %}
            {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody>
    </table>

</body>
</html>
