<!DOCTYPE html>
<html>
<head>
    <title>Just a rustbot 🦀</title>
    <link rel="icon" href="/static/favicon-16x16.png">
    <link rel="stylesheet" href="/static/template.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to my robot page!</h1>
    <table id="double-columns">
        <tbody>
            <tr>
                <td id="col1">
                    <form id="user-code" action="/user-code" method="post">
                        <textarea for="user_code" name="user_code" id="code"></textarea>

                        <button id="button-form-code" type="submit">Send</button>
                    </form>

                    
                </td>
                <td id="col2">
                    <ul class="command-list">
                        <h3>Available commands:</h3>
                        <li>right</code></li>
                        <li>left</li>
                        <li>up</li>
                        <li>down</li>
                        <li>go to (<code>i</code>, <code>j</code>)</li>
                        <li>nb lines = <code>max_i</li>
                        <li>nb columns = <code>max_j</li>
                        <li><em>TODO: Loops</em></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <table id="robot-grid">
        <tbody>
            <!-- Header row (columns) -->
            <tr>
                <td class="corner"></td>
                {%- for y in 0..grid_max_j %}
                <td class="header">{{ y }}</td>
                {%- endfor %}
            </tr>

        {%- for x in 0..grid_max_i %}
            <tr>
                <td class="header-column">{{ x }}</td> <!-- Line number -->

            {%- for y in 0..grid_max_j %}
                {%- if x == rustbot_i && y == rustbot_j %}
                <td class="grid-cell" data-x='{{ x }}' data-y='{{ y }}'><img src='/static/robot.png' alt='Robot' class='image-responsive'></td>
                {%- else %}
                <td class="grid-cell" data-x='{{ x }}' data-y='{{ y }}'></td>
                {%- endif %}
            {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody>
    </table>

    <script src="/static/robot_code.js"></script>
</body>
</html>
